@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #FAED79;
    --cor1: #FAED00;
    --cor2: #E0D500;
    --cor3: #BAB100;
    --cor4: #7A7300;
    --cor5: #3B3800;

    --fonte-titulo: 'Happy Monkey', cursive;
    --fonte-padrao: 'Bebas Neue', cursive;;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.253);
    transition-duration: 2.5s;
}

header > h1{
    font-family: var(--fonte-titulo);
    font-weight: bolder;
    color:#0c0c00;
    font-size: 3em;
    padding: 20px 20px 2px 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

header > p{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.5em;
    padding: 2px 20px 0px 20px;
    max-width: 470px;
    margin: auto;
}

main{
    background-color: white;
    font-family: sans-serif;

    max-width: 780px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.144);

    padding-bottom: 40px;
    margin-bottom: 20px;
}

main > h2{
    font-family: var(--fonte-titulo);
    padding-bottom: 10px;
}

main > h3{
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    padding: 3px;
    padding-left: 10px;
    border-radius: 5px;
}
main p{
    padding-bottom: 50px;
    padding-top: 10px;
    
    line-height: 1.4em;
}

main img{
    margin: auto;
    width: 50%;
    display: block;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer{
    text-align: center;
    background-color: var(--cor5);
    padding: 5px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    background-color: #3B3800;
}

abbr{
    text-decoration: none;
    background-color: #faed7973;
}

main h3{
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: underline;
    color: #3B3800;
}

nav{
    background-color: var(--cor3);  
    padding: 10px;
    font-family: var(--fonte-padrao);
}

nav a{
    color:#3B3800;
    transition-duration: 0.5s;
    text-decoration: none;
    margin: 0px 10px;
    padding-top: 2px;
}

nav a:hover{
    background-color: #3B3800;
    color: #FAED79;
    border-radius: 5px;
    padding: 5px;
}

a#prim{
    margin-left: 0px;
}


